<%= render "search_form" %>
<div class="mypage">
  <div class="contents row left-index">
    <p class="index-title"><span><%= @name %>さんの登録単語一覧</span></p>
    <div class="word-contents">
      <% @words.each do |word| %>
          <p><%= link_to word.english, word_path(word.id), class: "word-index" %></p>
      <% end %>
    </div>
  </div>

  <div class="contents row right-index">
    <p class="index-title"><span><%= @name %>さんのお気に入り単語一覧</span></p>
    <div class="word-contents">
      <% @favorite_words.each do |favorite_word| %>
          <p><%= link_to favorite_word.english, word_path(favorite_word.id), class: "word-index" %></p>
      <% end %>
    </div>
  </div>
</div>