<div class="contents row">
  <div class="container">
    <h3 class="login">ログイン</h3>

    <div class="flash_messages">
      <%# ログイン処理時に表示するメッセージはdeviseのflashオブジェクトに格納されている %>
      <%# フラッシュメッセージを表示するための記述 %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <% end %>
      <%# // フラッシュメッセージを表示するための記述 %>
    </div>

    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-box" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "input-box" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>
