<%= form_with(url: search_words_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "調べたい言葉を入力", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <p>検索結果</p>
  <% @english_words.each do |word| %>
    <p><%= link_to word.english, word_path(word.id), method: :get %></p>
  <% end %>
  <% @japanese_words.each do |word| %>
    <p><%= link_to word.japanese, word_path(word.id), method: :get %></p>
  <% end %>
  <% @remarks_words.each do |word| %>
    <p><%= link_to word.remarks, word_path(word.id), method: :get %></p>
  <% end %>
</div>